.card-container {
  height: 250px;
  width: 350px;
  border: solid black 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  color: black;
  align-items: center
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center

}

.possible-answer-buttons {
  border: solid black 2px;
  border-radius: 20%;
  width: 300px;
}

h2 {
  font-size: 20px;
}