.main-card-container {
  overflow: scroll;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 10px;
  height: 300px;
  justify-content: center;
  align-items: center;
}