.App {
  background-image: url('./styles/images/redwoodbackground.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  position: absolute;
  top: 0px;
  color: white;
  text-shadow: black 0px 0px 18px;
  font-size: 80px;
}
